/* Set nav bar background, borders, and align text */

nav {
	background-color: yellowGreen;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	text-align: center;
}

/* Remove margins and padding */

nav, #main ul {
	margin: 0;
	padding: 0;
}

/* Style fonts and remove underline */

nav a {
	padding: 10px;
	font-size: 110%;
	font-weight: bold;
	color: black;
	text-decoration: none;
}

/* Eliminate list bullets */

nav ul {
	list-style-type: none;
}

/* Set hyperlinks as inline elements (creates spaces between the blocks,
   which you only see if you have borders) */

nav li {
	display: inline-block;
}

/* Add Pseudo class states:
	:active MUST come after :hover, which MUST come after :link and :visited
*/

#main li:hover a{
	color: blue;
	background-color: ghostWhite;
}